<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ChessClockk Test Suite" verbose="1" preserve-order="true">
    <test name="Ordered Tests">
        <classes>
            <class name="com.balbina.clockktests.InitialStateTests"/>
            <class name="com.balbina.clockktests.ResetTests"/>
            <class name="com.balbina.clockktests.InteractionTests"/>
            <class name="com.balbina.clockktests.TimeSetTests"/>
            <class name="com.balbina.clockktests.AppStateTests"/>
        </classes>
    </test>
</suite>